<div class="emptyState col-xs-12 col-md-8" style="display:none">No events to curate at this time.</div>
<div class="col-xs-12 col-md-8">
  <ul class="itemsToCurate col-xs-6 col-md-5">
    <li>I am a test event</li>
  </ul>
  <ul class="riskyItems col-xs-6 col-md-5">
    <li>I am a test risky event</li>
  </ul>
</div>