<div class="emptyState col-xs-14 col-md-12" style="display:none">No risky events to curate at this time.</div>
<br />
<div class="btn-group center-block">
  <button type="button" class="btn btn-primary btn-lg btn-block">Reject All</button>
</div>
