<div class="row">
<ul class="nav navbar-nav small poweredBy">
<li><a data-toggle="modal" href="#toHoopla"><img src="/client/images/poweredBy.png" alt="Powered by Hoopla.io"></a>    
</ul>
<ul class="nav navbar-nav small footer-cta hidden-sm hidden-xs">
<ul class="footer-nav">
	<li>© 2013 Hoopla.io</li>
</ul>

</div>